block data
    - let images = require('./data.json')
doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title Мої роботи
    body
        .page
            h1.title Мої роботи
            .gallery
              each image in images
                  .galleryItem
                      a.card(href=require('./images/' + image.src) target="_blank" data-title=image.title data-description=image.description)
                          .cardContent
                              h3.cardTitle=image.title
                              p.cardDescription=image.description
                          .cardHover
                          img.cardImage(src=require('./images/' + image.src) alt=image.title width=600 height=600)
        script(src="js/index.js")


